*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ember", "Helvetica", "Arial", "sans-serif";
}

#app{
    display: flex;
    flex-direction: column;
}

h1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
    color: darkcyan;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 2px solid white ;
}

.albums-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: black;
    padding: 10px;
    height: calc(100vh - 50px);    
}

.albums{
    width: calc( 100%/4 );
    text-align: center;
    flex-wrap: wrap;
    color: white;
}

.albums img{
    width: 150px;
    height: 150px;
    flex-basis: 150px;
    margin: 20px 0;
    border-radius: 10px;
}

p{
    margin: 5px 0;
}


@media all and (max-width: 950px){  
    .albums{
        width: calc( 100%/3);

    }

    .albums-container{
        height: 100%;
    }
}

@media all and (max-width: 768px){  
    .albums{
        width: calc( 100%/2);

    }
}

@media all and (max-width: 350px){  
    .albums{
        width: 100%;

    }
}